parameters:


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:
	options:
		lazy: yes

doctrine:
    user: root
    password: r00tp0g0
    dbname: music-collection
    metadata:
        App: %appDir%